<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- 官方NuGet源 -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- SunEyeVision本地SDK源 -->
    <add key="SunEyeVisionLocal" value="./nupkg" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="SunEyeVisionLocal">
      <package pattern="SunEyeVision.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
